{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Desenvolvimento web com Django Framework para padaria.">
    <meta name="author" content="Geovane Carvalho">
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Padaría-delivery</title>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand m-2 p-2" href="{% url 'core:home' %}">Padaria Delivery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item btn btn-sm btn-outline-light m-1" href="{% url 'core:home' %}">Home</a>
          <a class="nav-item btn btn-sm btn-outline-light m-1" href="{% url 'core:register_client' %}">Cadastrar Cliente</a>
          <a class="nav-item btn btn-sm btn-outline-light m-1" href="{% url 'core:register_product' %}">Cadastrar Produto</a>
          <a class="nav-item btn btn-sm btn-outline-light m-1" href="{% url 'core:wish_list'%}">Lista de Pedidos</a>
          <a class="nav-item btn btn-sm btn-outline-light m-1" href="{% url 'core:product_list'%}">Estoque de Produtos</a>
        </div>
      </div>
    </nav>
  </header>
    
  <body cz-shortcut-listen="true">
    {% block content %}

    {% endblock content %}

    <footer class="text-muted bg-dark p-4 footer-bottom">
        <h3 class="text-white text-center">FALE CONOSCO</h3>
        <p class="text-white text-center">FONE: (061)3313-1456</p>
        <p class="text-white text-center">EMAIL: padaria_delivery@gmail.com</p>
    </footer>

  
  
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>


    
  </body>
</html>