{% extends "base.html" %}

{% block content %}
    <div class="container p-5">
        <div class="row">
            <div class="col">
                
              <h2 class="text-center">{{products.name|upper}}</h2>
              
                <p class="p-3" style="text-align:justify">&emsp;&emsp;&emsp;{{products.description}}</p>
                <table class="table p-5">
                    <thead>
                      <tr class="text-center">
                        <th scope="col">IMAGEM</th>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">QUANTIDADE</th>
                        <th scope="col">VALOR R$</th>
            
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <th scope="row"><img src="{{products.image}}" style="width: 50px;" alt=""></th>
                        <td scope="col">{{products.id}}</td>
                        <td scope="col">{{products.name}}</td>
                        <td scope="col">{{products.amount}}</td>
                        <td scope="col">{{products.value}}</td>
                      
                      </tr>
               
                    </tbody>
                 </table>
                {%if messages %}
                {% for message in messages%} 
                <div class="container container-alert">
                  <div class="row">
                    <div class="col">
                      <div class="alert {{message.tags}}" role="alert">
                          {{message}}  
                      </div>
          
                    </div>
                  </div>
                </div> 
                {% endfor %}
                {% endif %}
              <div class="container container-css">
                <div class="row">
                  <form action="" method="POST" >
                    <div class="col">
                      <h4>Fazer pedido</h4>
                      {{sale.client}}
                      <div class="input-group md-3 p-2">
                          {{sale.amount_buy}}
                          <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">Comprar R$</button>
                          </div>
                      </div>
                    </div>
                    {% csrf_token %}
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
   
{% endblock content %}