{% extends "base.html" %}

{% block content %}
    <div class="container p-5">
        <div class="row">
            <div class="col">
              <h2 class="text-center">Lista de Produtos</h2>
                <table class="table p-5">
                    <thead>
                      <tr class="text-center">
                        <th scope="col">IMAGEM</th>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">QUANTIDADE</th>
                        <th scope="col">VALOR R$</th>
            
                      </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                      <tr class="text-center">
                        <th scope="row"><img src="{{product.image}}" style="width: 50px;" alt=""></th>
                        <td scope="col">{{product.id}}</td>
                        <td scope="col">{{product.name}}</td>
                        <td scope="col">{{product.amount}}</td>
                        <td scope="col">{{product.value}}</td>
                      
                      </tr>
                    {% endfor %}
               
                    </tbody>
                 </table>
            </div>
        </div>
    </div>

{% endblock content %}