{% extends "base.html" %}
{% block content %}
<div class="container container-css">
    <div class="row" >
        <div class="col">
          <form method="POST">
            <div class="row p-3" >    
              <h3 class="text-center">Cadastro de Produtos</h3>
                  <div class="row m-2">

                    {{form.image}}
                  </div>
                  <div class="row m-2">
                    {{form.name}}
                  </div>
                  <div class="row m-2">
                    {{form.amount}}
                  </div>

                  <div class="row m-2">
                    {{form.value}}
                  </div>
                  <div class="row m-2">
                    {{form.description}}
                  </div>
                  <button class="btn btn-secondary m-1" >Limpar</button>
                  <button class="btn btn-primary m-1" type="submit">Cadastrar</button>
                </div>
              </form>

        </div>
       
    </div>
</div>
{% endblock content %}
