{% extends "base.html" %}

{% block content %}
    <div class="container p-5">
        <div class="row">
            <div class="col">
              <h2 class="text-center">Lista de Pedidos</h2>
                <table class="table p-5">
                    <thead class="table ">
                      <tr class="text-center ">
                        <th scope="col">CODIGO PRODUTO</th>
                        <th scope="col">CLIENTE</th>
                        <th scope="col">PRODUTO</th>
                        <th scope="col">QUANTIDADE</th>
                        <th scope="col">VALOR UNITÁRIO</th>
                        <th scope="col">TOTAL</th>
                        <th scope="col">DATA</th>

                        
            
                      </tr>
                    </thead>
                    <tbody>
                    {% for sale in sales %}
                      <tr class="text-center">
                        <td scope="col">{{sale.order_number}}</td>
                        <td scope="col">{{sale.client}}</td>
                        <td scope="col">{{sale.product}}</td>
                        <td scope="col">{{sale.amount_buy}}</td>
                        <td scope="col">{{sale.value_sale}}</td>
                        <td scope="col">{{sale.total}}</td>
                        <td scope="col">{{sale.sale_created_at}}</td>
                      
                      </tr>
                    {% endfor %}
               
                    </tbody>
                 </table>
            </div>
        </div>
    </div>

{% endblock content %}